@model Assignment_WebShop_2.Models.Basket

@{
    ViewData["Title"] = "BasketView";
}

<h1>BasketView</h1>


<table class="table">
    <thead>
        <tr>
            <th>Products</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.elems)
        {
            <tr>
                <td>
                    <img src="@Url.Action("DisplayImage", "Categories", new { id = item.ID })" class="category" />
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Index">Back to Categories</a>
</div>
