@using Assignment_WebShop_2.Models

@model BasketOrder

@{
    ViewData["Title"] = "BasketView";
}

<h1>Order</h1>

<form asp-controller="Order" asp-action="Buy">
    @* Automatikus védelem XSRF támadás ellen *@

    <table>
        <tr>
            <td colspan="2" valign="middle">
                @* globális modellhibák megjelenítése *@
                <div asp-validation-summary="ModelOnly" class="failureNotification"></div>

                <div class="contentHead">
                    Személyes adatok:
                </div>
            </td>
        </tr>
        <tr>
            <td width="120">
                Név:
            </td>
            <td class="failureNotification">
                <input asp-for="Name" size="40" />
                @* szövegbeviteli mezőt generálunk, amelynek megadjuk a méretét is *@
                <span asp-validation-for="Name"></span>
                @* hibaüzenet megjelenítése*@
            </td>
        </tr>
        <tr>
            <td>
                Számlázási cím:
            </td>
            <td class="failureNotification">
                <input asp-for="Address" size="40" />
                <span asp-validation-for="Address"></span>
            </td>
        </tr>
        <tr>
            <td>
                E-mail cím:
            </td>
            <td class="failureNotification">
                <input asp-for="Email" size="40" />
                @* a szerkesztőelemet a modell szabja meg, de így befolyásolhatjuka méretét *@
                <span asp-validation-for="Email"></span>
            </td>
        </tr>
        <tr>
            <td>
                Telefonszám:
            </td>
            <td class="failureNotification">
                <input asp-for="PhoneNumber" size="40" />
                <span asp-validation-for="PhoneNumber"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="Vétel" class="button" />
            </td>
        </tr>
    </table>
</form>

<div>
    <a asp-controller="Categories" asp-action="Index">Back to Categories</a>
</div>
